.profile {
	height: 100vh;
}

.column {
	width: 300px;
	margin: 0 auto;
	background: #e8e8e8;
	border-radius: 10px;
	padding: 10px;
}

.header {
	text-align: center;
	font-size: 25px;
	padding-bottom: 10px;
}

.row {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 10px 0;
}

.label {
	font-size: 12px;
	font-weight: bold;
}

